a {
  color: mediumslateblue;
}

a:visited {
  color: silver;
}

#side_panel {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  height: 100vh;
  display: flex;
  padding: 0 5%;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 22vw;
  /* overflow-x: auto; */
  /* overflow-y: visible; */

  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

#side_panel.hidden {
  transform: translateX(-90%);
}

#side_panel > button {
  background-color: #555;
  color: #fff;
  border: none;
  font-size: 2rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#side_panel > button:hover {
  background-color: #444;
}

#side_panel > button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

#side_panel ul {
  list-style: none;
  padding: 0;
}

#side_panel li {
  margin-bottom: 8px;
  font-size: 1em;
}

.key {
  display: inline-block;
  background-color: #f0f0f0;
  color: #000;
  padding: 3px 5px;
  margin: 0 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.9em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.key.small {
  padding: 1px 2px;
}

.lit {
  color: orange;
  font-family: monospace;
  padding: 1px 2px;
  /* font-size: 0.9em; */
  border: 1px solid #ccc;
}

.behaviour h3 {
  margin: 4px 0;
  font-size: 0.9rem;
  color: orange;
  font-weight: bold;
}

section + section {
  margin-top: 8px;
}

.behaviour + .behaviour {
  margin-top: 16px;
}

.name {
  text-align: right;
  font-size: smaller;
  vertical-align: bottom;
}

body,
html {
  /* background-color: black; */
  /* color: white; */
  margin: 0;
}

div[id="wrapper"],
div[id="wrapper2"] {
  height: 100vh;
  display: flex;
  justify-items: center;
}

.logElement {
  display: flex;
  flex-direction: column;
}
.logElement textarea {
  flex-grow: 1;
}

.hidden {
  display: none;
}

#logs div {
  height: 100%;
}

#logs div textarea {
  white-space: pre-wrap;
}

#logHeaders {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open the tab content */
#logHeaders button {
  background-color: inherit;
  text-align: left;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
#logHeaders button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
#logHeaders button.active {
  background-color: #ccc;
}

div[id="container2"] {
  display: grid;
  width: 85%;
  height: 90%;
  min-width: 800px;
  min-height: 600px;
  grid-template-rows: auto;
  grid-template-columns: min-content 1fr;
  margin: auto;
}

div[id="container"] {
  display: grid;
  width: 75%;
  height: 95%;
  min-width: 800px;
  min-height: 600px;
  grid-template-rows: auto auto minmax(0, 1fr) minmax(0, 1fr);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
  margin: auto;
  padding-bottom: 20px;
}

h1[id="title"] {
  grid-column: 1 / 3;
  grid-row: 1;
  font-family: monospace;
  font-size: 2em;
}

p[id="synopsis"] {
  color: #333;
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 0;
  font-family: sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
}

p[id="features"] {
  grid-column: 1 / 3;
  grid-row: 2;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-size: 10pt;
  line-height: 1.5em;
  color: #333;
}

div[id="cell-editor"] {
  grid-column: 1 / 2;
  grid-row: 3;
}

div[id="cell-editor2"] {
  grid-column: 2 / 3;
  grid-row: 3;
}

div[id="cell-editor3"] {
  grid-column: 1 / 2;
  grid-row: 4;
}

div[id="cell-editor4"] {
  grid-column: 2 / 3;
  grid-row: 4;
}

.cell-editor .editor {
  border: 1px solid black;
  height: calc(100% - 22px);
}

.cell-editor label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div[id="cell-syntax"] {
  grid-column: 1 / 3;
  grid-row: 4;
}

[id="container"] label {
  font-family: monospace;
  font-size: 14pt;
}

div[id="cell-console"] {
  grid-column: 1 / 3;
  grid-row: 1;
  overflow: hidden;
}

div[id="cell-client"] {
  grid-column: 1 / 3;
  grid-row: 2;
  overflow: hidden;
}

div[id="cell-server"] {
  grid-column: 1 / 3;
  grid-row: 3;
  overflow: hidden;
}

div[id="container"] textarea,
div[id="container2"] textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow-y: auto;
  font-family: monospace;
  font-family: 10pt;
}
